{% load static %}

<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>

<!-- Data table properties -->
<script type="text/javascript" src="{% static 'vendor/datatables/js/datatables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/datatables/js/rowReorder.bootstrap4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/datatables/js/responsive.bootstrap4.min.js' %}"></script>

<!-- jQuery Custom Scroller CDN -->
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js">
</script>

{% comment %} OUR JS {% endcomment %}
<script src="{% static 'js/tables.js' %}"></script>