{% load static %}

<!-- Bootstrap core CSS -->
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Data Tabel -->
<link rel="stylesheet" type="text/css" href="{% static 'vendor/datatables/css/datatables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vendor/datatables/css/rowReorder.bootstrap4.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vendor/datatables/css/responsive.bootstrap4.min.css' %}">
<!-- Custom styles for this template -->
<link href="{% static 'css/sticky-footer-navbar.css' %}" rel="stylesheet">
<link href="{% static 'css/styles.css' %}" rel="stylesheet">