{% extends 'base.html' %}


{% block jumbotron %}
<div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Program Keluarga Harapan</h1>
    <p class="col-md-8 fs-4">Aplikasi PKH merupakan aplikasi yang dikembangkan untuk dapat memprediksi nilai bantuan
        yang diterima oleh keluarga penerima manfaat berdasarkan komponen-komponen penilaian pada program PKH</p>
    <a href="{% url 'evaluasimodel:evaldatabaru' %}" class="btn btn-danger btn-lg">Buat Prediksi!</a>
</div>
{% endblock jumbotron %}